@charset "utf-8";
/* CSS Document */
video{
	filter: brightness(50%);
	width:1520px;
	height: auto;
}
.icon{
	position: absolute;
	width: 179px;
	height: 119px;
	left: 670px;
	top: 43px;
}
.sen1{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 29px;
	position: absolute;
	color: white;
	top: 267px;
	text-align: center;
	left: 469px;
}
.sen2{
	font-size: 35px;
	font-family: Tahoma, Verdana, sans-serif;
	position: absolute;
	color: white;
	top: 274px;
	text-align: center;
	left: 460px;

}
.sen3{
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 18px;
	position: absolute;
	color: white;
	top: 438px;
	text-align: center;
	left: 224px;
	width: 1069px;
}
.download{
	font-family: Tahoma, Verdana, sans-serif;
	background-color: rgb(204,0,51);
	color: rgb(255,255,255);
	border: 1px solid rgb(204,0,51);
	border-radius: 10px;
	padding: 15px;
	position: absolute;
	left: 544px;
	top: 565px;
}
.download:hover{
	transition:0.5s ease;
		font-family: Tahoma, Verdana, sans-serif;
	background-color:rgb(255,255,255);
	color:rgb(0,0,0);
	border:1px solid white;
	border-radius: 10px;
}
.option{
	background-color: rgb(153,0,0);
	position: absolute;
	padding: 5px;
	border-radius: 50%;
	width: 40px;
	left: 1403px;
	top: 165px;
	height: 40px;
}
.option img{
	position: absolute;
	left: 2px;
	top: 11px;
	width: 47px;
	height: 27px;
}
.option input[type=submit]{
	background-color: rgb(153,0,0);
	 cursor: pointer;
	position: absolute;
	padding: 5px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
	
}
.option input[type=submit]:hover {
	transition:0.5s ease;
  background-color: rgb(51,0,0);
}
.para1{
	position: absolute;
	width: 356px;
	top: 901px;
	height: 317px;
	left: 120px;
}
.para1 img{
	border:10px solid rgba(102,51,0,0.3);
	border-radius: 50%;
}
.intro1{
	font-size: 60px;
	color: rgb(0,0,51);
	position: absolute;
	left: 488px;
	top: 48px;
	width: 524px;
}
.detail1{
	font-size: 30px;
	position: absolute;
	width: 829px;
	left: 606px;
	top: 1029px;
}
.detail1 p1{
	font-size: 20px !important;
}
.momen1{
	background-color: rgba(0,0,51,0.9);
	color: rgba(0,0,51,0.9);
	border-radius: 10px;
	color: white;
	padding: 20px;
	position: absolute;
	left: 719px;
	top: 1221px;
}
.momen1:hover{
	transition:0.5s ease;
	color:rgb(204,0,51);
	background-color:rgba(204,204,204,0.4);
}
.para2{
	position: absolute;
	left: 943px;
	top: 1402px;
	width: 428px;
	
}
.para2 img{
	border:10px solid rgba(102,51,0,0.3);
	border-radius: 50%;
}
.intro2{
	font-size: 60px;
	color: rgb(0,0,51);
	position: absolute;
	left: -780px;
	top: 48px;
	
}
.detail2a{
	font-size: 30px;
	position: absolute;
	left: 160px;
	top: 1552px;
}
.detail2b{
	font-size: 28px;
	position: absolute;
	left: -866px;
	top: 188px;
}
.detail2b p{
	font-size: 18px !important;
	position: absolute;
	width: 729px;
	left: 1023px;
	top: 1420px;
}
.momen2{
	background-color: rgba(0,0,51,0.9);
	color: rgba(0,0,51,0.9);
	border-radius: 10px;
	color: white;
	padding: 20px;
	position: absolute;
	text-align: center;
	top: 1747px;
	width: 115px;
	left: 338px;
}
.momen2:hover{
	transition:0.5s ease;
	color:rgb(204,0,51);
	background-color:rgba(204,204,204,0.4);
}
#slidepic{
	border: 10px solid rgba(102,51,0,0.3);
	height: 500px;
	width: 1300px;
	border-radius: 10px;
	overflow: hidden;
	display: block;
	position: absolute;
	left: 477px;
	top: 5086px;
}
.slider{
	-webkit-animation: myanimation 20s ease-in-out infinite alternate;
}
@-webkit-keyframes myanimation{
	0% {-webkit-transform:translateY(0px);}
	25% {-webkit-transform:translateY(-500px);}
	50% {-webkit-transform:translateY(-1000px);}
	75% {-webkit-transform:translateY(-1500px);}
	100% {-webkit-transform:translateY(-2000px);}
}
.para3{
	position: absolute;
	left: 120px;
	top: 1972px;
	width: 428px;
	
}
.para3 img{
	border:10px solid rgba(102,51,0,0.3);
	border-radius: 50%;
}
.intro3{
	font-size: 60px;
	color: rgb(0,0,51);
	position: absolute;
	left: 488px;
	top: 4px;
	width: 618px;
}
.detail3a{
	font-size: 30px;
	position: absolute;
	width: 375px;
	left: 610px;
	top: 2134px;
}
.detail3b{
	font-size: 20px;
	position: absolute;
	width: 831px;
	left: 610px;
	top: 2194px;
}
.momen3{
	background-color: rgba(0,0,51,0.9);
	color: rgba(0,0,51,0.9);
	border-radius: 10px;
	color: white;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 199px;
	top: 2314px;
	left: 692px;
}
.momen3:hover{
	transition:0.5s ease;
	color:rgb(204,0,51);
	background-color:rgba(204,204,204,0.4);
}
.para4{
	position: absolute;
	left: 937px;
	top: 2481px;
	width: 428px;
	
}
.para4 img{
	border:10px solid rgba(102,51,0,0.3);
	border-radius: 50%;
}
.intro4{
	font-size: 60px;
	color: rgb(0,0,51);
	position: absolute;
	left: -771px;
	top: 69px;
	width: 618px;
}
.detail4a{
	font-size: 30px;
	position: absolute;
	top: 2649px;
	width: 693px;
	left: 164px;
}
.detail4b{
	font-size: 20px;
	position: absolute;
	width: 739px;
	top: 2712px;
	left: 164px;
}
.momen4{
	background-color: rgba(0,0,51,0.9);
	color: rgba(0,0,51,0.9);
	border-radius: 10px;
	color: white;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 164px;
	top: 2809px;
	left: 264px;
}
.momen4:hover{
	transition:0.5s ease;
	color:rgb(204,0,51);
	background-color:rgba(204,204,204,0.4);
}
.para5{
	position: absolute;
	left: 120px;
	top: 2998px;
	width: 428px;
	
}
.para5 img{
	border:10px solid rgba(102,51,0,0.3);
	border-radius: 50%;
}
.intro5{
	font-size: 60px;
	color: rgb(0,0,51);
	position: absolute;
	width: 819px;
	left: 504px;
	top: 44px;
}
.detail5a{
	font-size: 20px;
	position: absolute;
	width: 693px;
	top: 3145px;
	left: 628px;
}
.momen5{
	background-color: rgba(0,0,51,0.9);
	color: rgba(0,0,51,0.9);
	border-radius: 10px;
	color: white;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 356px;
	top: 3243px;
	left: 686px;
	}
.momen5:hover{
	transition:0.5s ease;
	color:rgb(204,0,51);
	background-color:rgba(204,204,204,0.4);
}
.para6{
	position: absolute;
	left: 954px;
	top: 3499px;
	width: 428px;
	
}
.para6 img{
	border:10px solid rgba(102,51,0,0.3);
	border-radius: 50%;
}
.intro6{
	font-size: 60px;
	color: rgb(0,0,51);
	position: absolute;
	left: -785px;
	top: 64px;
	width: 618px;
}
.detail6a{
	font-size: 20px;
	position: absolute;
	top: 3664px;
	width: 743px;
	left: 168px;
}
.momen6{
	background-color: rgba(0,0,51,0.9);
	color: rgba(0,0,51,0.9);
	border-radius: 10px;
	color: white;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 165px;
	left: 366px;
	top: 3794px;
}
.momen6:hover{
	transition:0.5s ease;
	color:rgb(204,0,51);
	background-color:rgba(204,204,204,0.4);
}
.para7{
	position: absolute;
	width: 428px;
	left: 120px;
	top: 4011px;
	
}
.para7 img{
	border:10px solid rgba(102,51,0,0.3);
	border-radius: 50%;
}
.intro7{
	font-size: 60px;
	color: rgb(0,0,51);
	position: absolute;
	width: 346px;
	left: 522px;
	top: 17px;
}
.detail7a{
	font-size: 30px;
	position: absolute;
	width: 367px;
	left: 641px;
	top: 4115px;
}
.detail7b{
	font-size: 20px;
	position: absolute;
	top: 4170px;
	left: 640px;
	width: 679px;
}
.momen7{
	background-color: rgba(0,0,51,0.9);
	color: rgba(0,0,51,0.9);
	border-radius: 10px;
	color: white;
	padding: 20px;
	position: absolute;
	text-align: center;
	top: 4318px;
	left: 692px;
	width: 321px;
}
.momen7:hover{
	transition:0.5s ease;
	color:rgb(204,0,51);
	background-color:rgba(204,204,204,0.4);
}
.para8{
	position: absolute;
	width: 428px;
	left: 954px;
	top: 4602px;
	
}
.para8 img{
	border:10px solid rgba(102,51,0,0.3);
	border-radius: 50%;
}
.intro8{
	font-size: 60px;
	color: rgb(0,0,51);
	position: absolute;
	width: 552px;
	left: -692px;
	top: 30px;
	
}
.detail8a{
	font-size: 30px;
	position: absolute;
	width: 367px;
	top: 4723px;
	left: 262px;
	
}
.detail8b{
	font-size: 20px;
	position: absolute;
	width: 636px;
	top: 4787px;
	left: 260px;
}
.momen8{
	background-color: rgba(0,0,51,0.9);
	color: rgba(0,0,51,0.9);
	border-radius: 10px;
	color: white;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 275px;
	top: 4918px;
	left: 352px;
}
.momen8:hover{
	transition:0.5s ease;
	color:rgb(204,0,51);
	background-color:rgba(204,204,204,0.4);
}
.row{
	position: absolute;
	left: 70px;
	top: 102px;
	border: 2px solid black;
}
.column {
  float: left;
  width: 20%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display:table;
}
#slidepic{
	height: 400px;
	width: 400px;
	display: block;
	overflow: hidden;
}
.slider{
	-webkit-animation: myanimation 30s ease-in-out infinite alternate;
}
@-webkit-keyframes myanimation{
	0% {-webkit-transform:translateX(0px);}
	25% {-webkit-transform:translateX(-400px);}
	50% {-webkit-transform:translateX(-800px);}
	75% {-webkit-transform:translateX(-1200px);}
	100% {-webkit-transform:translateX(-1600px);}
}
.borderlist{
	width: 2000px;
	height: 400px;
}
.more1{
	border-radius: 10px;
	font-size: 50px;
	position: absolute;
	left: 549px;
	top: 5112px;
}
.sen4{
	font-size: 50px;
	position: absolute;
	left: 107px;
	top: 5609px;
	width: 777px;
}
.sen4 p{
	font-size:20px !important;
}
.video1{
	border: 5px solid rgba(102,51,0,0.3);
	position: absolute;
	left: 759px;
	top: 5759px;
	width: 600px;
	border-radius: 5px;
}
.video2{
	border: 5px solid rgba(102,51,0,0.3);
	position: absolute;
	top: 5758px;
	width: 600px;
	border-radius: 5px;
	left: 90px;
}
.sen5{
	font-size: 25px;
	background-color: rgba(0,0,51,0.9);
	color: rgba(0,0,51,0.9);
	border-radius: 20px;
	text-align:center;
	color: white;
	padding: 15px;
	position: absolute;
	width: 588px;
	left: 130px;
	top: 6139px;
}
.sen5:hover{
	font-size:25px;
	transition:0.5s ease;
	color:rgb(204,0,51);
	background-color:rgba(204,204,204,0.4);
}
.footer1{
	background-color: rgb(0,0,30,0.9);
	width: 1520px;
	height: 400px;
	position: absolute;
	top: 6225px;
	left: -65px;
}
.copyright1{
	color: white;
	text-align: center;
	position: absolute;
	top: 144px;
	left: 691px;
}
.copyright2{
	color: white;
	text-align: center;
	position: absolute;
	top: 251px;
	left: 554px;
}
.copyright3{
	color: white;
	text-align: center;
	position: absolute;
	top: 251px;
	left: 888px;
}
.copyright4{
	color:rgb(204,204,204);
	font-size:15px;
	text-align: center;
	position: absolute;
	top: 295px;
	width: 1058px;
	left: 249px;
}
.copyright5{
	border: 3px solid rgb(204,153,51);
	color: rgb(204,153,51);
	padding: 15px;
	text-align: center;
	position: absolute;
	top: 57px;
	left: 690px;
	border-radius: 20px;
}
.copyright5:hover{
	border: 3px solid white;
	transition:0.5s ease;
	color: white;
}
.para1:hover{
	cursor:pointer;
	transition:1.5s ease;
	transform:scale(1.15,1.15);
}
.para2:hover{
	cursor:pointer;
	transition:1.5s ease;
	transform:scale(1.15,1.15);
}

.para3:hover{
	cursor:pointer;
	transition:1.5s ease;
	transform:scale(1.15,1.15);
}

.para4:hover{
	cursor:pointer;
	transition:1.5s ease;
	transform:scale(1.15,1.15);
}

.para5:hover{
	cursor:pointer;
	transition:1.5s ease;
	transform:scale(1.15,1.15);
}
.para6:hover{
	cursor:pointer;
	transition:1.5s ease;
	transform:scale(1.15,1.15);
}

.para7:hover{
	cursor:pointer;
	transition:1.5s ease;
	transform:scale(1.15,1.15);
}
.para8:hover{
	cursor:pointer;
	transition:1.5s ease;
	transform:scale(1.15,1.15);
}
